<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 로그인 쿼리문 -->
    <entry key="loginMember">
     	SELECT *
          FROM MEMBER
         WHERE MEMBER_ID = ?
           AND MEMBER_PWD = ?
           AND STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
		INSERT INTO MEMBER(MEMBER_NO
		                 , MEMBER_ID
		                 , MEMBER_PWD
		                 , MEMBER_NICKNAME
		                 , MEMBER_NAME
		                 , EMAIL
		                 , PHONE
		                 , BIRTH
		                 , GENDER
		                 , ADDRESS)
		            VALUES(SEQ_MNO.NEXTVAL
		                 , ?
		                 , ?
		                 , ?
		                 , ?
		                 , ?
		                 , ?
		                 , ?
		                 , ?
		                 , ?)
	</entry>
	
	<entry key="idCheck">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="nicknameCheck">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE MEMBER_NICKNAME = ?
	</entry>
	
</properties>